.contenedor-carro{
    margin:1rem;
    padding:1rem;
    align-items: center;
    width: 60%;
}
.cartEmpty{
    margin: 1rem;
    padding: 6rem;
    text-align: center;
}

@media (max-width: 780px) {
    .carritoContainer{
        max-width: 100vw;
        display: flex;
        flex-direction: column;
    }
    form{
        max-width: 90vw;
        padding: 1rem;
    }
    .contenedor-carro{
        width: 90vw;
        padding: 1rem;
    }
}
