.itemCard{
    padding: .5rem;
    /* background-color: rgb(250, 246, 246); */
    display: flex;
    align-items: center;
    text-align: center;
    border-color: grey;
}
img .itemImg{
    height: 80%;
}