div .detalleCard {
    width: auto;
    height: 100vh;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 3rem;
}
.containerInfo{
    display: flex;
}
.itemInfo{
    margin-left: 2rem;
    margin-right: 2rem;
}
img{
    width: 40%;
    height: auto;
}
.itemCount{
    width: auto;
}
.btnTerminar{
    height: auto;
}
.cargandoTitle{
    margin:auto;
    padding-top: 5rem;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 780px) {
    div .detalleCard{
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    .containerInfo{
        flex-direction: column;
    }
    .itemInfo{
        margin: 5px;
        width: 100%;
    }
    .itemCount{
        width: 100%;
    }

}
