.itemCount{
    display:flex;
    flex-direction: column;
    padding: 5px;
    margin:auto;
    align-items: center;
    background-color: rgb(235, 224, 224);
    border-radius: 3%;
}

.setCount{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.btnAgregar{
    width: 100%;
}
.contador{
    margin:10px
}