.container-productos{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:2rem;
    grid-auto-rows: minmax(100px,auto);
}
@media (max-width: 780px) {
    .container-productos{
        padding: 1em;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px)and (orientation:portrait) {
    .container-productos{
    grid-template-columns: repeat(1,1fr);
    font-size: 1rem;
    }
 }