#itemlistContainer{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.greeting{
    margin: 20px;
    text-align: center;
    font-size: 2rem;
}

@media (max-width: 575.98px)and (orientation:portrait) {
    .greeting{
        font-size: 1rem;
        font-weight: bold;
    }
}
